@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
  background: -webkit-linear-gradient(
    to bottom,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(
    to bottom,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'JetBrains Mono', monospace;

  /* setting page height to full viewport height */
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-family: 'Dancing Script', cursive;
}

.row > div {
  float: left;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: -1;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 35px;
}

.grid-container > div {
  padding: 5px 25px;
  border-radius: 10px;
}
p {
  color: 1e1e1f;
  font-size: 15px;
  text-align: left;
}
ul {
  color: black;
  font-size: 15px;
  text-align: left;
}

h4 {
  margin-bottom: 14px;
}

.item1 {
  /* education*/
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: white;
}
.item2 {
  /* work experience*/
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: white;
}
.item3 {
  /* extracurricular*/
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background-color: white;
}

.item4 {
  /* picture*/
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: white;
  text-align: center;
}

.item4 img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 0%;
  border: 4px solid #fff;
  box-shadow: 18px 0px #bdc3c7;
}
.item5 {
  /* extra info*/
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  background-color: white;
}

h4,
h1 {
  text-align: center;
}

h5 {
  margin: 12px 0 5px 0;
  font-size: 16px;
}

h5:not(:first-child) {
  margin-top: 30px;
}
.img-container {
  margin: 0px 0 0 20px;
}

.info-container {
  margin: 22px 0 0 20px;
  width: 61%;
}

.languages {
  margin-top: 80px;
  text-align: center;
}

.languages ul li {
  line-height: 25px;
}
.btn {
  display: inline-block;
  border: 1px solid #dbd8d7;
  padding: 5px;
  width: 80%;
  margin-bottom: 10px;
  position: relative;
  height: 20px;
  background-color: transparent;
  border-radius: 5px;
  z-index: 100;
}
.btn:hover {
  color: #fff;
  transition: 0.5s;

  border: 1px solid #2c3e50;
}

.btn::after {
  content: ' ';
  display: block;
  padding: 5px;
  width: 97.5%;
  position: absolute;
  left: -1px;
  bottom: -1px;
  height: 0px;
  background: #2c3e50;
  opacity: 0;
  z-index: -1;
}
.btn:hover::after {
  height: 22px;
  transition: 0.3s;
  opacity: 0.7;
  border-radius: 5px;
}
